version: '3.5'

services:
  temporal:
    image: temporalio/auto-setup:latest 
    ports:
      - "7233:7233" # gRPC port for SDK
      - "8082:8080" # Web UI, use 8082 avoid conflict
    environment:
      - DB=postgres12
      - DB_HOST=postgresql
      - DB_PORT=5432
      - POSTGRES_USER=temporal
      - POSTGRES_PWD=temporal         
      - POSTGRES_DB=temporal
      - POSTGRES_SEEDS=postgresql
    depends_on:
      - postgresql
      - elasticsearch

  postgresql:
    image: postgres:13
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=temporal
      - POSTGRES_PASSWORD=temporal
      - POSTGRES_DB=temporal

  elasticsearch:
    image: elasticsearch:7.16.2
    ports:
      - "9200:9200"
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - bootstrap.memory_lock=true
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    ulimits:
      memlock:
        soft: -1
        hard: -1